<h1>Here is the Bug that you want to see</h1>
</li>
</li>
<p id="notice"><%= notice %></p>
<%= image_tag @bug.image.url(:medium)%>
<p>
  <strong>Title:</strong>
  <%= @bug.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bug.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @bug.user_id %>
</p>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
